<div class="text-center justify-center flex flex-col whitespace-nowrap font-sans">
  <span class="i-mdi-food-outline w-12 h-12 mx-auto"></span>
  <h1 class="font-bold text-md">Menu Makan</h1>
  <span class="text-xs">Lezat sekali</span>
</div>
